<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/DateToolsSwift</string>
			<key>Title</key>
			<string>DateToolsSwift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/EasyTipView</string>
			<key>Title</key>
			<string>EasyTipView</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/GTTexture-RxExtension</string>
			<key>Title</key>
			<string>GTTexture-RxExtension</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IceCream</string>
			<key>Title</key>
			<string>IceCream</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Peek</string>
			<key>Title</key>
			<string>Peek</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/PINCache</string>
			<key>Title</key>
			<string>PINCache</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/PINOperation</string>
			<key>Title</key>
			<string>PINOperation</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/PINRemoteImage</string>
			<key>Title</key>
			<string>PINRemoteImage</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/R.swift</string>
			<key>Title</key>
			<string>R.swift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/R.swift.Library</string>
			<key>Title</key>
			<string>R.swift.Library</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Realm</string>
			<key>Title</key>
			<string>Realm</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RealmSwift</string>
			<key>Title</key>
			<string>RealmSwift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RxCocoa</string>
			<key>Title</key>
			<string>RxCocoa</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RxGesture</string>
			<key>Title</key>
			<string>RxGesture</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RxKeyboard</string>
			<key>Title</key>
			<string>RxKeyboard</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RxSwift</string>
			<key>Title</key>
			<string>RxSwift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SideMenu</string>
			<key>Title</key>
			<string>SideMenu</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SnapKit</string>
			<key>Title</key>
			<string>SnapKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SwifterSwift</string>
			<key>Title</key>
			<string>SwifterSwift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SwiftyUserDefaults</string>
			<key>Title</key>
			<string>SwiftyUserDefaults</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Texture</string>
			<key>Title</key>
			<string>Texture</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Whisper</string>
			<key>Title</key>
			<string>Whisper</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
